%html
  %head
    %title Outsidekick | Personal Outside Safety
    %meta{ :charset => "utf-8" }
    %meta{ :name => "description", :content => "TODO1 fill in from meta.yml" }
    %meta{ :name => "keywords", :content => "TODO1 fill in from meta.yml" }
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
    %link{:href => "favicon.ico", :rel => "shortcut icon"}
  %body#dark-background
    .container
      #outer_layout
        #wrapper
          #inner_wrapper
            = render partial: 'navbar'
            = yield



